.formContainer {
  background-color: var(--background-color);
  padding: var(--spacing-8);
  border-radius: 8px;
}

.title {
  color: var(--text-color);
  margin-bottom: var(--spacing-16);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--heading-one-weight);
  font-size: var(--heading-one-size);
  line-height: var(--heading-one-line-height);
  font-family: var(--font-family);
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: var(--spacing-8);
  background-color: var(--input-background);
  border-radius: 5px;
  width: 300px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.input input {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.input label {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.rememberMe {
  margin-bottom: var(--spacing-8);
  color: var(--text-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
}

.checkbox {
  color: var(--text-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--button-background);
  color: var(--text-color);
  padding: var(--spacing-8);
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  text-transform: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.linkContainer {
  margin-top: var(--spacing-8);
  text-align: center;
}

.link {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-family);
}

.link:hover {
  text-decoration: underline;
}
